abydos                  # https://github.com/chrislit/abydos
distance                # https://github.com/doukremt/distance
jellyfish               # https://github.com/jamesturk/jellyfish
numpy
py_stringmatching       # https://github.com/anhaidgroup/py_stringmatching
pylev                   # https://github.com/toastdriven/pylev
python-Levenshtein      # https://github.com/ztane/python-Levenshtein
pyxDamerauLevenshtein   # https://github.com/gfairchild/pyxDamerauLevenshtein
tabulate

