abydos                  # https://github.com/chrislit/abydos
distance                # https://github.com/doukremt/distance
jellyfish               # https://github.com/jamesturk/jellyfish
numpy
py_stringmatching       # https://github.com/anhaidgroup/py_stringmatching
pylev                   # https://github.com/toastdriven/pylev
Levenshtein             # https://github.com/maxbachmann/Levenshtein
pyxDamerauLevenshtein   # https://github.com/gfairchild/pyxDamerauLevenshtein
tabulate

